/*
  Anie 1.1.1
  https://github.com/gmasson/anie
  License MIT
*/

.area-min,
.area,
.area-max {
  width: 95%;
  margin: 0 auto;
  clear: both;
  overflow: none;
  position: relative;
}
.area-min { max-width: 980px; }
.area { max-width: 1180px; }
.area-max { max-width: 2000px; }

@media print { .no-print { display: none; } }

.row-flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
}
.row-flex > div {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.row-flex.align-left { justify-content: flex-start; }
.row-flex.align-center { justify-content: space-around; }
.row-flex.align-right { justify-content: flex-end; }
.row-flex.align-top { align-items: flex-start; }
.row-flex.align-bottom { align-items: flex-end; }

/* --- ELEMENTS --- */

.alert-left, .alert-right {
  min-width: 121px;
  padding: 1%;
  position: fixed;
  bottom: 2%;
  z-index: 999;
  display: none;
  font-size: .95em;
}
.alert-left { left: 1.6%; }
.alert-right { right: 1.6%; }
.btn-x {
  cursor: pointer;
  float: right;
  font-weight: bold;
  font-size: 1.1em;
  padding: 1%;
}

.card {
  background: #FFFFFF;
  border-top: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
  -moz-box-shadow: 0 0 12px #ccc;
  -webkit-box-shadow: 0 0 12px #ccc;
  box-shadow: 0 0 12px #ccc;
}
.card .img img { width: 100%; }
.card .content { padding: 2.5% 4%; }
.card .content .title { 
  font-size: 1.2em;
  font-weight: bold;
}
.card .content .description { font-size: .9em; }

.btn-anie { border-radius: 0 !important; }

.btn-anie-2 {
  border-radius: 0 !important;
  border-width: 3px;
  border-style: solid;
  font-weight: bold;
  background: transparent !important;
}

.circle-min,
.circle,
.circle-max {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 1em;
}
.circle-min { font-size: 1em; }
.circle { font-size: 1.8em; }
.circle-max { font-size: 2.5em; }

.form-anie {
  background: transparent;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #555;
}
.form-anie:focus {
  background: transparent;
  border-right-width: 0;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  outline: none;
}

.form-anie-2 {
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #555;
}
.form-anie-2:focus {
  background: transparent;
  border: 0;
  outline: none;
}

/* --- FORMATTING --- */

.section-min { padding: 3% 0; }
.section { padding: 6% 0; }
.section-max { padding: 9% 0; }

.article {
  font-size: 1.2em;
  line-height: 1.42em;
}

.text-calibri { font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
.text-candara { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; }
.text-arial { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
.text-cambria { font-family: Cambria, Georgia, serif; }
.text-century { font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; }
.text-futura { font-family: Futura, "Trebuchet MS", Arial, sans-serif; }
.text-helvetica { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.text-segoeui { font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif; }
.text-tahoma { font-family: Tahoma, Verdana, Segoe, sans-serif; }
.text-trebuchet { font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }
.text-verdana { font-family: Verdana, Geneva, sans-serif; }
.text-georgia { font-family: Georgia, Times, "Times New Roman", serif; }
.text-lucida { font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace; }
.text-times { font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif; }
.text-lato { font-family: "Lato",Helvetica,Arial,sans-serif; }

.text-small, .text-small-hover:hover { font-size: .82em; }
.text-medium, .text-medium-hover:hover { font-size: 1.1em; }
.text-big, .text-big-hover:hover { font-size: 1.7em; }
.text-2em { font-size: 2em; }
.text-3em { font-size: 3em; }
.text-4em { font-size: 4em; }
.text-5em { font-size: 5em; }
.text-6em { font-size: 6em; }
.text-7em { font-size: 7em; }
.text-8em { font-size: 8em; }
.text-9em { font-size: 9em; }
.text-10em { font-size: 10em; }

.text-bold, .text-bold-hover:hover { font-weight: bold; }
.text-italic, .text-italic-hover:hover { font-style: italic; }
.text-underline, .text-underline-hover:hover { text-decoration: underline; }

.padding-min { padding: 1%; }
.padding { padding: 2%; }
.padding-max { padding: 3%; }
.padding-top-min { padding-top: 1%; }
.padding-top { padding-top: 2%; }
.padding-top-max { padding-top: 3%; }
.padding-bottom-min { padding-bottom: 1%; }
.padding-bottom { padding-bottom: 2%; }
.padding-bottom-max { padding-bottom: 3%; }
.padding-left-min { padding-left: 1%; }
.padding-left { padding-left: 2%; }
.padding-left-max { padding-left: 3%; }
.padding-right-min { padding-right: 1%; }
.padding-right { padding-right: 2%; }
.padding-right-max { padding-right: 3%; }

.margin-min { margin: 1%; }
.margin { margin: 2%; }
.margin-max { margin: 3%; }
.margin-auto { margin-left: auto; margin-right: auto; }
.margin-top-min { margin-top: 1%; }
.margin-top { margin-top: 2%; }
.margin-top-max { margin-top: 3%; }
.margin-bottom-min { margin-bottom: 1%; }
.margin-bottom { margin-bottom: 2%; }
.margin-bottom-max { margin-bottom: 3%; }
.margin-left-min { margin-left: 1%; }
.margin-left { margin-left: 2%; }
.margin-left-max { margin-left: 3%; }
.margin-right-min { margin-right: 1%; }
.margin-right { margin-right: 2%; }
.margin-right-max { margin-right: 3%; }

.opacity-min, .opacity-min-hover:hover { opacity: 0.95; -moz-opacity: 0.95; filter: alpha(opacity=0.95); }
.opacity, .opacity-hover:hover { opacity: 0.86; -moz-opacity: 0.86; filter: alpha(opacity=0.86); }
.opacity-max, .opacity-max-hover:hover { opacity: 0.67; -moz-opacity: 0.67; filter: alpha(opacity=0.67); }

.radius-min, .radius-min-hover:hover { 
  -moz-border-radius: 7%;
  -webkit-border-radius: 7%;
  border-radius: 7%;
}
.radius, .radius-hover:hover { 
  -moz-border-radius: 18%;
  -webkit-border-radius: 18%;
  border-radius: 18%;
}
.radius-max, .radius-max-hover:hover { 
  -moz-border-radius: 28%;
  -webkit-border-radius: 28%;
  border-radius: 28%;
}
.radius-circle, .radius-circle-hover:hover { 
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.shadow-min, .shadow-min-hover:hover { 
  -moz-box-shadow: 0 0 8px #ccc;
  -webkit-box-shadow: 0 0 8px #ccc;
  box-shadow: 0 0 8px #ccc;
}
.shadow, .shadow-hover:hover { 
  -moz-box-shadow: 0 0 16px #ccc;
  -webkit-box-shadow: 0 0 16px #ccc;
  box-shadow: 0 0 16px #ccc;
}
.shadow-max, .shadow-max-hover:hover { 
  -moz-box-shadow: 0 0 27px #ccc;
  -webkit-box-shadow: 0 0 27px #ccc;
  box-shadow: 0 0 27px #ccc;
}

.width-5 { width: 5%; }
.width-10 { width: 10%; }
.width-15 { width: 15%; }
.width-20 { width: 20%; }
.width-25 { width: 25%; }
.width-30 { width: 30%; }
.width-35 { width: 35%; }
.width-40 { width: 40%; }
.width-45 { width: 45%; }
.width-50 { width: 50%; }
.width-55 { width: 55%; }
.width-60 { width: 60%; }
.width-65 { width: 65%; }
.width-70 { width: 70%; }
.width-75 { width: 75%; }
.width-80 { width: 80%; }
.width-85 { width: 85%; }
.width-90 { width: 90%; }
.width-95 { width: 95%; }
.width-100 { width: 100%; }

.fixed,
.fixed-bottom,
.fixed-top {
  position: fixed;
  z-index: 999;
}
.fixed-bottom { bottom: 0; }
.fixed-top { top: 0; }

/* --- IMG --- */

.img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-filter: sepia(0); 
  filter: sepia(0); 
  -webkit-filter: blur(0); 
  filter: blur(0); 
  -webkit-filter: saturate(100%); 
  filter: saturate(100%); 
  -webkit-filter: invert(0); 
  filter: invert(0); 
}

.img-grayscale-min, .img-grayscale-min-hover:hover {
  -webkit-filter: grayscale(21%); 
  filter: grayscale(21%); 
}
.img-grayscale, .img-grayscale-hover:hover {
  -webkit-filter: grayscale(51%); 
  filter: grayscale(51%); 
}
.img-grayscale-max, .img-grayscale-max-hover:hover {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); 
}

.img-sepia-min, .img-sepia-min-hover:hover {
  -webkit-filter: sepia(21%); 
  filter: sepia(21%); 
}
.img-sepia, .img-sepia-hover:hover {
  -webkit-filter: sepia(51%); 
  filter: sepia(51%); 
}
.img-sepia-max, .img-sepia-max-hover:hover {
  -webkit-filter: sepia(100%); 
  filter: sepia(100%); 
}

.img-blur-min, .img-blur-min-hover:hover {
  -webkit-filter: blur(1px); 
  filter: blur(1px); 
}
.img-blur, .img-blur-hover:hover {
  -webkit-filter: blur(3px); 
  filter: blur(3px); 
}
.img-blur-max, .img-blur-max-hover:hover {
  -webkit-filter: blur(8px); 
  filter: blur(8px); 
}

.img-negative-min, .img-negative-min-hover:hover {
  -webkit-filter: invert(21%); 
  filter: invert(21%); 
}
.img-negative, .img-negative-hover:hover {
  -webkit-filter: invert(68%); 
  filter: invert(68%); 
}
.img-negative-max, .img-negative-max-hover:hover {
  -webkit-filter: invert(100%); 
  filter: invert(100%); 
}

.bg-img {
  background-position: center;
  background-size: cover; 
}

/* --- COLORS --- */

.transparent { background: transparent; }

.gradient { background-image: linear-gradient(to bottom, rgba(212,212,212,.4), transparent); }
.gradient-hover:hover { background-image: linear-gradient(to bottom, rgba(212,212,212,.4), transparent); }

.gradient-invert { background-image: linear-gradient(to top, rgba(212,212,212,.4), transparent); }
.gradient-invert-hover:hover { background-image: linear-gradient(to top, rgba(212,212,212,.4), transparent); }

.gradient-effect { background-image: linear-gradient(to bottom, rgba(212,212,212,.4), transparent); }
.gradient-effect:hover { background-image: linear-gradient(to top, rgba(212,212,212,.4), transparent); }

/* White */
.white, .white-hover:hover, .white-focus:focus { background-color: #FFFFFF; color: #333333; }
.text-white, .text-white-hover:hover, .text-white-focus:focus { color: #FFFFFF !important; }
.bord-white, .bord-white-hover:hover, .bord-white-focus:focus { border-color: #FFFFFF; }
.btn-white, .btn-white-hover:hover { background-color: #FFFFFF; border-color: #FFFFFF; color: #333333; }
.btn-white .badge { color: #FFFFFF; background-color: #333333; }
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active { background-color: #FFFFFF; border-color: #FFFFFF; color: #333333; }
.btn-white.btn-anie-2 { background: transparent; color: #FFFFFF !important; border-color: #FFFFFF; }
.white .form-anie-2 { color: #333333; }

/* White 2 */
.white-2, .white-2-hover:hover, .white-2-focus:focus { background-color: #ECF0F1; color: #333333; }
.text-white-2, .text-white-2-hover:hover, .text-white-2-focus:focus { color: #ECF0F1 !important; }
.bord-white-2, .bord-white-2-hover:hover, .bord-white-2-focus:focus { border-color: #ECF0F1; }
.btn-white-2, .btn-white-2-hover:hover { background-color: #ECF0F1; border-color: #ECF0F1; color: #333333; }
.btn-white-2 .badge { color: #ECF0F1; background-color: #333333; }
.btn-white-2:hover,
.btn-white-2:focus,
.btn-white-2.focus,
.btn-white-2.active { background-color: #ECF0F1; border-color: #ECF0F1; color: #333333; }
.btn-white-2.btn-anie-2 { background: transparent; color: #ECF0F1 !important; border-color: #ECF0F1; }
.white-2 .form-anie-2 { color: #333333; }

/* White 3 */
.white-3, .white-3-hover:hover, .white-3-focus:focus { background-color: #E6E9ED; color: #333333; }
.text-white-3, .text-white-3-hover:hover, .text-white-3-focus:focus { color: #E6E9ED !important; }
.bord-white-3, .bord-white-3-hover:hover, .bord-white-3-focus:focus { border-color: #E6E9ED; }
.btn-white-3, .btn-white-3-hover:hover { background-color: #E6E9ED; border-color: #E6E9ED; color: #333333; }
.btn-white-3 .badge { color: #E6E9ED; background-color: #333333; }
.btn-white-3:hover,
.btn-white-3:focus,
.btn-white-3.focus,
.btn-white-3.active { background-color: #E6E9ED; border-color: #E6E9ED; color: #333333; }
.btn-white-3.btn-anie-2 { background: transparent; color: #E6E9ED !important; border-color: #E6E9ED; }
.white-3 .form-anie-2 { color: #333333; }

/* Grey */
.grey, .grey-hover:hover, .grey-focus:focus { background-color: #CCD1D9; color: #333333; }
.text-grey, .text-grey-hover:hover, .text-grey-focus:focus { color: #CCD1D9 !important; }
.bord-grey, .bord-grey-hover:hover, .bord-grey-focus:focus { border-color: #CCD1D9; }
.btn-grey, .btn-grey-hover:hover { background-color: #CCD1D9; border-color: #CCD1D9; color: #333333; }
.btn-grey .badge { color: #CCD1D9; background-color: #333333; }
.btn-grey:hover,
.btn-grey:focus,
.btn-grey.focus,
.btn-grey.active { background-color: #CCD1D9; border-color: #CCD1D9; color: #333333; }
.btn-grey.btn-anie-2 { background: transparent; color: #CCD1D9 !important; border-color: #CCD1D9; }
.grey .form-anie-2 { color: #333333; }

/* Grey 2 */
.grey-2, .grey-2-hover:hover, .grey-2-focus:focus { background-color: #AAB2BD; color: #FFFFFF; }
.text-grey-2, .text-grey-2-hover:hover, .text-grey-2-focus:focus { color: #AAB2BD !important; }
.bord-grey-2, .bord-grey-2-hover:hover, .bord-grey-2-focus:focus { border-color: #AAB2BD; }
.btn-grey-2, .btn-grey-2-hover:hover { background-color: #AAB2BD; border-color: #AAB2BD; color: #FFFFFF; }
.btn-grey-2 .badge { color: #AAB2BD; background-color: #FFFFFF; }
.btn-grey-2:hover,
.btn-grey-2:focus,
.btn-grey-2.focus,
.btn-grey-2.active { background-color: #AAB2BD; border-color: #AAB2BD; color: #FFFFFF; }
.btn-grey-2.btn-anie-2 { background: transparent; color: #AAB2BD !important; border-color: #AAB2BD; }
.grey-2 .form-anie-2 { color: #FFFFFF; }

/* Grey 3 */
.grey-3, .grey-3-hover:hover, .grey-3-focus:focus { background-color: #95a5a6; color: #FFFFFF; }
.text-grey-3, .text-grey-3-hover:hover, .text-grey-3-focus:focus { color: #95a5a6 !important; }
.bord-grey-3, .bord-grey-3-hover:hover, .bord-grey-3-focus:focus { border-color: #95a5a6; }
.btn-grey-3, .btn-grey-3-hover:hover { background-color: #95a5a6; border-color: #95a5a6; color: #FFFFFF; }
.btn-grey-3 .badge { color: #95a5a6; background-color: #FFFFFF; }
.btn-grey-3:hover,
.btn-grey-3:focus,
.btn-grey-3.focus,
.btn-grey-3.active { background-color: #95a5a6; border-color: #95a5a6; color: #FFFFFF; }
.btn-grey-3.btn-anie-2 { background: transparent; color: #95a5a6 !important; border-color: #95a5a6; }
.grey-3 .form-anie-2 { color: #FFFFFF; }

/* Black */
.black, .black-hover:hover, .black-focus:focus { background-color: #34495E; color: #FFFFFF; }
.text-black, .text-black-hover:hover, .text-black-focus:focus { color: #34495E !important; }
.bord-black, .bord-black-hover:hover, .bord-black-focus:focus { border-color: #34495E; }
.btn-black, .btn-black-hover:hover { background-color: #34495E; border-color: #34495E; color: #FFFFFF; }
.btn-black .badge { color: #34495E; background-color: #FFFFFF; }
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active { background-color: #34495E; border-color: #34495E; color: #FFFFFF; }
.btn-black.btn-anie-2 { background: transparent; color: #34495E !important; border-color: #34495E; }
.black .form-anie-2 { color: #ffffff; }

/* Black 2 */
.black-2, .black-2-hover:hover, .black-2-focus:focus { background-color: #292d35; color: #FFFFFF; }
.text-black-2, .text-black-2-hover:hover, .text-black-2-focus:focus { color: #292d35 !important; }
.bord-black-2, .bord-black-2-hover:hover, .bord-black-2-focus:focus { border-color: #292d35; }
.btn-black-2, .btn-black-2-hover:hover { background-color: #292d35; border-color: #292d35; color: #FFFFFF; }
.btn-black-2 .badge { color: #292d35; background-color: #FFFFFF; }
.btn-black-2:hover,
.btn-black-2:focus,
.btn-black-2.focus,
.btn-black-2.active { background-color: #292d35; border-color: #292d35; color: #FFFFFF; }
.btn-black-2.btn-anie-2 { background: transparent; color: #292d35 !important; border-color: #292d35; }
.black-2 .form-anie-2 { color: #ffffff; }

/* Black 3 */
.black-3, .black-3-hover:hover, .black-3-focus:focus { background-color: #111111; color: #FFFFFF; }
.text-black-3, .text-black-3-hover:hover, .text-black-3-focus:focus { color: #111111 !important; }
.bord-black-3, .bord-black-3-hover:hover, .bord-black-3-focus:focus { border-color: #111111; }
.btn-black-3, .btn-black-3-hover:hover { background-color: #111111; border-color: #111111; color: #FFFFFF; }
.btn-black-3 .badge { color: #111111; background-color: #FFFFFF; }
.btn-black-3:hover,
.btn-black-3:focus,
.btn-black-3.focus,
.btn-black-3.active { background-color: #111111; border-color: #111111; color: #FFFFFF; }
.btn-black-3.btn-anie-2 { background: transparent; color: #111111 !important; border-color: #111111; }
.black-3 .form-anie-2 { color: #ffffff; }

/* Lime */
.lime, .lime-hover:hover, .lime-focus:focus { background-color: #94d82d; color: #FFFFFF; }
.text-lime, .text-lime-hover:hover, .text-lime-focus:focus { color: #94d82d !important; }
.bord-lime, .bord-lime-hover:hover, .bord-lime-focus:focus { border-color: #94d82d; }
.btn-lime, .btn-lime-hover:hover { background-color: #94d82d; border-color: #94d82d; color: #FFFFFF; }
.btn-lime .badge { color: #94d82d; background-color: #FFFFFF; }
.btn-lime:hover,
.btn-lime:focus,
.btn-lime.focus,
.btn-lime.active { background-color: #94d82d; border-color: #94d82d; color: #FFFFFF; }
.btn-lime.btn-anie-2 { background: transparent; color: #94d82d !important; border-color: #94d82d; }
.lime .form-anie-2 { color: #ffffff; }

/* Lime 2 */
.lime-2, .lime-2-hover:hover, .lime-2-focus:focus { background-color: #74b816; color: #FFFFFF; }
.text-lime-2, .text-lime-2-hover:hover, .text-lime-2-focus:focus { color: #74b816 !important; }
.bord-lime-2, .bord-lime-2-hover:hover, .bord-lime-2-focus:focus { border-color: #74b816; }
.btn-lime-2, .btn-lime-2-hover:hover { background-color: #74b816; border-color: #74b816; color: #FFFFFF; }
.btn-lime-2 .badge { color: #74b816; background-color: #FFFFFF; }
.btn-lime-2:hover,
.btn-lime-2:focus,
.btn-lime-2.focus,
.btn-lime-2.active { background-color: #74b816; border-color: #74b816; color: #FFFFFF; }
.btn-lime-2.btn-anie-2 { background: transparent; color: #74b816 !important; border-color: #74b816; }
.lime-2 .form-anie-2 { color: #ffffff; }

/* Lime 3 */
.lime-3, .lime-3-hover:hover, .lime-3-focus:focus { background-color: #5c940d; color: #FFFFFF; }
.text-lime-3, .text-lime-3-hover:hover, .text-lime-3-focus:focus { color: #5c940d !important; }
.bord-lime-3, .bord-lime-3-hover:hover, .bord-lime-3-focus:focus { border-color: #5c940d; }
.btn-lime-3, .btn-lime-3-hover:hover { background-color: #5c940d; border-color: #5c940d; color: #FFFFFF; }
.btn-lime-3 .badge { color: #5c940d; background-color: #FFFFFF; }
.btn-lime-3:hover,
.btn-lime-3:focus,
.btn-lime-3.focus,
.btn-lime-3.active { background-color: #5c940d; border-color: #5c940d; color: #FFFFFF; }
.btn-lime-3.btn-anie-2 { background: transparent; color: #5c940d !important; border-color: #5c940d; }
.lime-3 .form-anie-2 { color: #ffffff; }

/* Green */
.green, .green-hover:hover, .green-focus:focus { background-color: #69db7c; color: #FFFFFF; }
.text-green, .text-green-hover:hover, .text-green-focus:focus { color: #69db7c !important; }
.bord-green, .bord-green-hover:hover, .bord-green-focus:focus { border-color: #69db7c; }
.btn-green, .btn-green-hover:hover { background-color: #69db7c; border-color: #69db7c; color: #FFFFFF; }
.btn-green .badge { color: #69db7c; background-color: #FFFFFF; }
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green.active { background-color: #69db7c; border-color: #69db7c; color: #FFFFFF; }
.btn-green.btn-anie-2 { background: transparent; color: #69db7c !important; border-color: #69db7c; }
.green .form-anie-2 { color: #ffffff; }

/* Green 2 */
.green-2, .green-2-hover:hover, .green-2-focus:focus { background-color: #40c057; color: #FFFFFF; }
.text-green-2, .text-green-2-hover:hover, .text-green-2-focus:focus { color: #40c057 !important; }
.bord-green-2, .bord-green-2-hover:hover, .bord-green-2-focus:focus { border-color: #40c057; }
.btn-green-2, .btn-green-2-hover:hover { background-color: #40c057; border-color: #40c057; color: #FFFFFF; }
.btn-green-2 .badge { color: #40c057; background-color: #FFFFFF; }
.btn-green-2:hover,
.btn-green-2:focus,
.btn-green-2.focus,
.btn-green-2.active { background-color: #40c057; border-color: #40c057; color: #FFFFFF; }
.btn-green-2.btn-anie-2 { background: transparent; color: #40c057 !important; border-color: #40c057; }
.green-2 .form-anie-2 { color: #ffffff; }

/* Green 3 */
.green-3, .green-3-hover:hover, .green-3-focus:focus { background-color: #2b8a3e; color: #FFFFFF; }
.text-green-3, .text-green-3-hover:hover, .text-green-3-focus:focus { color: #2b8a3e !important; }
.bord-green-3, .bord-green-3-hover:hover, .bord-green-3-focus:focus { border-color: #2b8a3e; }
.btn-green-3, .btn-green-3-hover:hover { background-color: #2b8a3e; border-color: #2b8a3e; color: #FFFFFF; }
.btn-green-3 .badge { color: #2b8a3e; background-color: #FFFFFF; }
.btn-green-3:hover,
.btn-green-3:focus,
.btn-green-3.focus,
.btn-green-3.active { background-color: #2b8a3e; border-color: #2b8a3e; color: #FFFFFF; }
.btn-green-3.btn-anie-2 { background: transparent; color: #2b8a3e !important; border-color: #2b8a3e; }
.green-3 .form-anie-2 { color: #ffffff; }

/* Teal */
.teal, .teal-hover:hover, .teal-focus:focus { background-color: #63e6be; color: #FFFFFF; }
.text-teal, .text-teal-hover:hover, .text-teal-focus:focus { color: #63e6be !important; }
.bord-teal, .bord-teal-hover:hover, .bord-teal-focus:focus { border-color: #63e6be; }
.btn-teal, .btn-teal-hover:hover { background-color: #63e6be; border-color: #63e6be; color: #FFFFFF; }
.btn-teal .badge { color: #63e6be; background-color: #FFFFFF; }
.btn-teal:hover,
.btn-teal:focus,
.btn-teal.focus,
.btn-teal.active { background-color: #63e6be; border-color: #63e6be; color: #FFFFFF; }
.btn-teal.btn-anie-2 { background: transparent; color: #63e6be !important; border-color: #63e6be; }
.teal .form-anie-2 { color: #ffffff; }

/* Teal-2 */
.teal-2, .teal-2-hover:hover, .teal-2-focus:focus { background-color: #12b886; color: #FFFFFF; }
.text-teal-2, .text-teal-2-hover:hover, .text-teal-2-focus:focus { color: #12b886 !important; }
.bord-teal-2, .bord-teal-2-hover:hover, .bord-teal-2-focus:focus { border-color: #12b886; }
.btn-teal-2, .btn-teal-2-hover:hover { background-color: #12b886; border-color: #12b886; color: #FFFFFF; }
.btn-teal-2 .badge { color: #12b886; background-color: #FFFFFF; }
.btn-teal-2:hover,
.btn-teal-2:focus,
.btn-teal-2.focus,
.btn-teal-2.active { background-color: #12b886; border-color: #12b886; color: #FFFFFF; }
.btn-teal-2.btn-anie-2 { background: transparent; color: #12b886 !important; border-color: #12b886; }
.teal-2 .form-anie-2 { color: #ffffff; }

/* Teal-3 */
.teal-3, .teal-3-hover:hover, .teal-3-focus:focus { background-color: #099268; color: #FFFFFF; }
.text-teal-3, .text-teal-3-hover:hover, .text-teal-3-focus:focus { color: #099268 !important; }
.bord-teal-3, .bord-teal-3-hover:hover, .bord-teal-3-focus:focus { border-color: #099268; }
.btn-teal-3, .btn-teal-3-hover:hover { background-color: #099268; border-color: #099268; color: #FFFFFF; }
.btn-teal-3 .badge { color: #099268; background-color: #FFFFFF; }
.btn-teal-3:hover,
.btn-teal-3:focus,
.btn-teal-3.focus,
.btn-teal-3.active { background-color: #099268; border-color: #099268; color: #FFFFFF; }
.btn-teal-3.btn-anie-2 { background: transparent; color: #099268 !important; border-color: #099268; }
.teal-3 .form-anie-2 { color: #ffffff; }

/* Blue */
.blue, .blue-hover:hover, .blue-focus:focus { background-color: #3BAFDA; color: #FFFFFF; }
.text-blue, .text-blue-hover:hover, .text-blue-focus:focus { color: #3BAFDA !important; }
.bord-blue, .bord-blue-hover:hover, .bord-blue-focus:focus { border-color: #3BAFDA; }
.btn-blue, .btn-blue-hover:hover { background-color: #3BAFDA; border-color: #3BAFDA; color: #FFFFFF; }
.btn-blue .badge { color: #3BAFDA; background-color: #FFFFFF; }
.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue.active { background-color: #3BAFDA; border-color: #3BAFDA; color: #FFFFFF; }
.btn-blue.btn-anie-2 { background: transparent; color: #3BAFDA !important; border-color: #3BAFDA; }
.blue .form-anie-2 { color: #ffffff; }

/* Blue 2 */
.blue-2, .blue-2-hover:hover, .blue-2-focus:focus { background-color: #5D9CEC; color: #FFFFFF; }
.text-blue-2, .text-blue-2-hover:hover, .text-blue-2-focus:focus { color: #5D9CEC !important; }
.bord-blue-2, .bord-blue-2-hover:hover, .bord-blue-2-focus:focus { border-color: #5D9CEC; }
.btn-blue-2, .btn-blue-2-hover:hover { background-color: #5D9CEC; border-color: #5D9CEC; color: #FFFFFF; }
.btn-blue-2 .badge { color: #5D9CEC; background-color: #FFFFFF; }
.btn-blue-2:hover,
.btn-blue-2:focus,
.btn-blue-2.focus,
.btn-blue-2.active { background-color: #5D9CEC; border-color: #5D9CEC; color: #FFFFFF; }
.btn-blue-2.btn-anie-2 { background: transparent; color: #5D9CEC !important; border-color: #5D9CEC; }
.blue-2 .form-anie-2 { color: #ffffff; }

/* Blue 3 */
.blue-3, .blue-3-hover:hover, .blue-3-focus:focus { background-color: #4A89DC; color: #FFFFFF; }
.text-blue-3, .text-blue-3-hover:hover, .text-blue-3-focus:focus { color: #4A89DC !important; }
.bord-blue-3, .bord-blue-3-hover:hover, .bord-blue-3-focus:focus { border-color: #4A89DC; }
.btn-blue-3, .btn-blue-3-hover:hover { background-color: #4A89DC; border-color: #4A89DC; color: #FFFFFF; }
.btn-blue-3 .badge { color: #4A89DC; background-color: #FFFFFF; }
.btn-blue-3:hover,
.btn-blue-3:focus,
.btn-blue-3.focus,
.btn-blue-3.active { background-color: #4A89DC; border-color: #4A89DC; color: #FFFFFF; }
.btn-blue-3.btn-anie-2 { background: transparent; color: #4A89DC !important; border-color: #4A89DC; }
.blue-3 .form-anie-2 { color: #ffffff; }

/* Indigo */
.indigo, .indigo-hover:hover, .indigo-focus:focus { background-color: #91a7ff; color: #FFFFFF; }
.text-indigo, .text-indigo-hover:hover, .text-indigo-focus:focus { color: #91a7ff !important; }
.bord-indigo, .bord-indigo-hover:hover, .bord-indigo-focus:focus { border-color: #91a7ff; }
.btn-indigo, .btn-indigo-hover:hover { background-color: #91a7ff; border-color: #91a7ff; color: #FFFFFF; }
.btn-indigo .badge { color: #91a7ff; background-color: #FFFFFF; }
.btn-indigo:hover,
.btn-indigo:focus,
.btn-indigo.focus,
.btn-indigo.active { background-color: #91a7ff; border-color: #91a7ff; color: #FFFFFF; }
.btn-indigo.btn-anie-2 { background: transparent; color: #91a7ff !important; border-color: #91a7ff; }
.indigo .form-anie-2 { color: #ffffff; }

/* Indigo-2 */
.indigo-2, .indigo-2-hover:hover, .indigo-2-focus:focus { background-color: #5c7cfa; color: #FFFFFF; }
.text-indigo-2, .text-indigo-2-hover:hover, .text-indigo-2-focus:focus { color: #5c7cfa !important; }
.bord-indigo-2, .bord-indigo-2-hover:hover, .bord-indigo-2-focus:focus { border-color: #5c7cfa; }
.btn-indigo-2, .btn-indigo-2-hover:hover { background-color: #5c7cfa; border-color: #5c7cfa; color: #FFFFFF; }
.btn-indigo-2 .badge { color: #5c7cfa; background-color: #FFFFFF; }
.btn-indigo-2:hover,
.btn-indigo-2:focus,
.btn-indigo-2.focus,
.btn-indigo-2.active { background-color: #5c7cfa; border-color: #5c7cfa; color: #FFFFFF; }
.btn-indigo-2.btn-anie-2 { background: transparent; color: #5c7cfa !important; border-color: #5c7cfa; }
.indigo-2 .form-anie-2 { color: #ffffff; }

/* Indigo-3 */
.indigo-3, .indigo-3-hover:hover, .indigo-3-focus:focus { background-color: #3b5bdb; color: #FFFFFF; }
.text-indigo-3, .text-indigo-3-hover:hover, .text-indigo-3-focus:focus { color: #3b5bdb !important; }
.bord-indigo-3, .bord-indigo-3-hover:hover, .bord-indigo-3-focus:focus { border-color: #3b5bdb; }
.btn-indigo-3, .btn-indigo-3-hover:hover { background-color: #3b5bdb; border-color: #3b5bdb; color: #FFFFFF; }
.btn-indigo-3 .badge { color: #3b5bdb; background-color: #FFFFFF; }
.btn-indigo-3:hover,
.btn-indigo-3:focus,
.btn-indigo-3.focus,
.btn-indigo-3.active { background-color: #3b5bdb; border-color: #3b5bdb; color: #FFFFFF; }
.btn-indigo-3.btn-anie-2 { background: transparent; color: #3b5bdb !important; border-color: #3b5bdb; }
.indigo-3 .form-anie-2 { color: #ffffff; }

/* Cyan */
.cyan, .cyan-hover:hover, .cyan-focus:focus { background-color: #40E0D0; color: #FFFFFF; }
.text-cyan, .text-cyan-hover:hover, .text-cyan-focus:focus { color: #40E0D0 !important; }
.bord-cyan, .bord-cyan-hover:hover, .bord-cyan-focus:focus { border-color: #40E0D0; }
.btn-cyan, .btn-cyan-hover:hover { background-color: #40E0D0; border-color: #40E0D0; color: #FFFFFF; }
.btn-cyan .badge { color: #40E0D0; background-color: #FFFFFF; }
.btn-cyan:hover,
.btn-cyan:focus,
.btn-cyan.focus,
.btn-cyan.active { background-color: #40E0D0; border-color: #40E0D0; color: #FFFFFF; }
.btn-cyan.btn-anie-2 { background: transparent; color: #40E0D0 !important; border-color: #40E0D0; }
.cyan .form-anie-2 { color: #ffffff; }

/* Cyan 2 */
.cyan-2, .cyan-2-hover:hover, .cyan-2-focus:focus { background-color: #20B2AA; color: #FFFFFF; }
.text-cyan-2, .text-cyan-2-hover:hover, .text-cyan-2-focus:focus { color: #20B2AA !important; }
.bord-cyan-2, .bord-cyan-2-hover:hover, .bord-cyan-2-focus:focus { border-color: #20B2AA; }
.btn-cyan-2, .btn-cyan-2-hover:hover { background-color: #20B2AA; border-color: #20B2AA; color: #FFFFFF; }
.btn-cyan-2 .badge { color: #20B2AA; background-color: #FFFFFF; }
.btn-cyan-2:hover,
.btn-cyan-2:focus,
.btn-cyan-2.focus,
.btn-cyan-2.active { background-color: #20B2AA; border-color: #20B2AA; color: #FFFFFF; }
.btn-cyan-2.btn-anie-2 { background: transparent; color: #20B2AA !important; border-color: #20B2AA; }
.cyan-2 .form-anie-2 { color: #ffffff; }

/* Cyan 3 */
.cyan-3, .cyan-3-hover:hover, .cyan-3-focus:focus { background-color: #008B8B; color: #FFFFFF; }
.text-cyan-3, .text-cyan-3-hover:hover, .text-cyan-3-focus:focus { color: #008B8B !important; }
.bord-cyan-3, .bord-cyan-3-hover:hover, .bord-cyan-3-focus:focus { border-color: #008B8B; }
.btn-cyan-3, .btn-cyan-3-hover:hover { background-color: #008B8B; border-color: #008B8B; color: #FFFFFF; }
.btn-cyan-3 .badge { color: #008B8B; background-color: #FFFFFF; }
.btn-cyan-3:hover,
.btn-cyan-3:focus,
.btn-cyan-3.focus,
.btn-cyan-3.active { background-color: #008B8B; border-color: #008B8B; color: #FFFFFF; }
.btn-cyan-3.btn-anie-2 { background: transparent; color: #008B8B !important; border-color: #008B8B; }
.cyan-3 .form-anie-2 { color: #ffffff; }

/* Purple */
.purple, .purple-hover:hover, .purple-focus:focus { background-color: #AC92EC; color: #FFFFFF; }
.text-purple, .text-purple-hover:hover, .text-purple-focus:focus { color: #AC92EC !important; }
.bord-purple, .bord-purple-hover:hover, .bord-purple-focus:focus { border-color: #AC92EC; }
.btn-purple, .btn-purple-hover:hover { background-color: #AC92EC; border-color: #AC92EC; color: #FFFFFF; }
.btn-purple .badge { color: #AC92EC; background-color: #FFFFFF; }
.btn-purple:hover,
.btn-purple:focus,
.btn-purple.focus,
.btn-purple.active { background-color: #AC92EC; border-color: #AC92EC; color: #FFFFFF; }
.btn-purple.btn-anie-2 { background: transparent; color: #AC92EC !important; border-color: #AC92EC; }
.purple .form-anie-2 { color: #ffffff; }

/* Purple 2 */
.purple-2, .purple-2-hover:hover, .purple-2-focus:focus { background-color: #967ADC; color: #FFFFFF; }
.text-purple-2, .text-purple-2-hover:hover, .text-purple-2-focus:focus { color: #967ADC !important; }
.bord-purple-2, .bord-purple-2-hover:hover, .bord-purple-2-focus:focus { border-color: #967ADC; }
.btn-purple-2, .btn-purple-2-hover:hover { background-color: #967ADC; border-color: #967ADC; color: #FFFFFF; }
.btn-purple-2 .badge { color: #967ADC; background-color: #FFFFFF; }
.btn-purple-2:hover,
.btn-purple-2:focus,
.btn-purple-2.focus,
.btn-purple-2.active { background-color: #967ADC; border-color: #967ADC; color: #FFFFFF; }
.btn-purple-2.btn-anie-2 { background: transparent; color: #967ADC !important; border-color: #967ADC; }
.purple-2 .form-anie-2 { color: #ffffff; }

/* Purple 3 */
.purple-3, .purple-3-hover:hover, .purple-3-focus:focus { background-color: #6e5baa; color: #FFFFFF; }
.text-purple-3, .text-purple-3-hover:hover, .text-purple-3-focus:focus { color: #6e5baa !important; }
.bord-purple-3, .bord-purple-3-hover:hover, .bord-purple-3-focus:focus { border-color: #6e5baa; }
.btn-purple-3, .btn-purple-3-hover:hover { background-color: #6e5baa; border-color: #6e5baa; color: #FFFFFF; }
.btn-purple-3 .badge { color: #6e5baa; background-color: #FFFFFF; }
.btn-purple-3:hover,
.btn-purple-3:focus,
.btn-purple-3.focus,
.btn-purple-3.active { background-color: #6e5baa; border-color: #6e5baa; color: #FFFFFF; }
.btn-purple-3.btn-anie-2 { background: transparent; color: #6e5baa !important; border-color: #6e5baa; }
.purple-3 .form-anie-2 { color: #ffffff; }

/* Pink */
.pink, .pink-hover:hover, .pink-focus:focus { background-color: #EC87C0; color: #FFFFFF; }
.text-pink, .text-pink-hover:hover, .text-pink-focus:focus { color: #EC87C0 !important; }
.bord-pink, .bord-pink-hover:hover, .bord-pink-focus:focus { border-color: #EC87C0; }
.btn-pink, .btn-pink-hover:hover { background-color: #EC87C0; border-color: #EC87C0; color: #FFFFFF; }
.btn-pink .badge { color: #EC87C0; background-color: #FFFFFF; }
.btn-pink:hover,
.btn-pink:focus,
.btn-pink.focus,
.btn-pink.active { background-color: #EC87C0; border-color: #EC87C0; color: #FFFFFF; }
.btn-pink.btn-anie-2 { background: transparent; color: #EC87C0 !important; border-color: #EC87C0; }
.pink .form-anie-2 { color: #ffffff; }

/* Pink 2 */
.pink-2, .pink-2-hover:hover, .pink-2-focus:focus { background-color: #f06595; color: #FFFFFF; }
.text-pink-2, .text-pink-2-hover:hover, .text-pink-2-focus:focus { color: #f06595 !important; }
.bord-pink-2, .bord-pink-2-hover:hover, .bord-pink-2-focus:focus { border-color: #f06595; }
.btn-pink-2, .btn-pink-2-hover:hover { background-color: #f06595; border-color: #f06595; color: #FFFFFF; }
.btn-pink-2 .badge { color: #f06595; background-color: #FFFFFF; }
.btn-pink-2:hover,
.btn-pink-2:focus,
.btn-pink-2.focus,
.btn-pink-2.active { background-color: #f06595; border-color: #f06595; color: #FFFFFF; }
.btn-pink-2.btn-anie-2 { background: transparent; color: #f06595 !important; border-color: #f06595; }
.pink-2 .form-anie-2 { color: #ffffff; }

/* Pink 3 */
.pink-3, .pink-3-hover:hover, .pink-3-focus:focus { background-color: #d6336c; color: #FFFFFF; }
.text-pink-3, .text-pink-3-hover:hover, .text-pink-3-focus:focus { color: #d6336c !important; }
.bord-pink-3, .bord-pink-3-hover:hover, .bord-pink-3-focus:focus { border-color: #d6336c; }
.btn-pink-3, .btn-pink-3-hover:hover { background-color: #d6336c; border-color: #d6336c; color: #FFFFFF; }
.btn-pink-3 .badge { color: #d6336c; background-color: #FFFFFF; }
.btn-pink-3:hover,
.btn-pink-3:focus,
.btn-pink-3.focus,
.btn-pink-3.active { background-color: #d6336c; border-color: #d6336c; color: #FFFFFF; }
.btn-pink-3.btn-anie-2 { background: transparent; color: #d6336c !important; border-color: #d6336c; }
.pink-3 .form-anie-2 { color: #ffffff; }

/* Yellow */
.yellow, .yellow-hover:hover, .yellow-focus:focus { background-color: #ffe066; color: #333333; }
.text-yellow, .text-yellow-hover:hover, .text-yellow-focus:focus { color: #ffe066 !important; }
.bord-yellow, .bord-yellow-hover:hover, .bord-yellow-focus:focus { border-color: #ffe066; }
.btn-yellow, .btn-yellow-hover:hover { background-color: #ffe066; border-color: #ffe066; color: #333333; }
.btn-yellow .badge { color: #ffe066; background-color: #333333; }
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow.focus,
.btn-yellow.active { background-color: #ffe066; border-color: #ffe066; color: #333333; }
.btn-yellow.btn-anie-2 { background: transparent; color: #ffe066 !important; border-color: #ffe066; }
.yellow .form-anie-2 { color: #333333; }

/* Yellow 2 */
.yellow-2, .yellow-2-hover:hover, .yellow-2-focus:focus { background-color: #fcc419; color: #333333; }
.text-yellow-2, .text-yellow-2-hover:hover, .text-yellow-2-focus:focus { color: #fcc419 !important; }
.bord-yellow-2, .bord-yellow-2-hover:hover, .bord-yellow-2-focus:focus { border-color: #fcc419; }
.btn-yellow-2, .btn-yellow-2-hover:hover { background-color: #fcc419; border-color: #fcc419; color: #333333; }
.btn-yellow-2 .badge { color: #fcc419; background-color: #333333; }
.btn-yellow-2:hover,
.btn-yellow-2:focus,
.btn-yellow-2.focus,
.btn-yellow-2.active { background-color: #fcc419; border-color: #fcc419; color: #333333; }
.btn-yellow-2.btn-anie-2 { background: transparent; color: #fcc419 !important; border-color: #fcc419; }
.yellow-2 .form-anie-2 { color: #333333; }

/* Yellow 3 */
.yellow-3, .yellow-3-hover:hover, .yellow-3-focus:focus { background-color: #fab005; color: #333333; }
.text-yellow-3, .text-yellow-3-hover:hover, .text-yellow-3-focus:focus { color: #fab005 !important; }
.bord-yellow-3, .bord-yellow-3-hover:hover, .bord-yellow-3-focus:focus { border-color: #fab005; }
.btn-yellow-3, .btn-yellow-3-hover:hover { background-color: #fab005; border-color: #fab005; color: #333333; }
.btn-yellow-3 .badge { color: #fab005; background-color: #333333; }
.btn-yellow-3:hover,
.btn-yellow-3:focus,
.btn-yellow-3.focus,
.btn-yellow-3.active { background-color: #fab005; border-color: #fab005; color: #333333; }
.btn-yellow-3.btn-anie-2 { background: transparent; color: #fab005 !important; border-color: #fab005; }
.yellow-3 .form-anie-2 { color: #333333; }

/* Orange */
.orange, .orange-hover:hover, .orange-focus:focus { background-color: #FF7F50; color: #FFFFFF; }
.text-orange, .text-orange-hover:hover, .text-orange-focus:focus { color: #FF7F50 !important; }
.bord-orange, .bord-orange-hover:hover, .bord-orange-focus:focus { border-color: #FF7F50; }
.btn-orange, .btn-orange-hover:hover { background-color: #FF7F50; border-color: #FF7F50; color: #FFFFFF; }
.btn-orange .badge { color: #FF7F50; background-color: #FFFFFF; }
.btn-orange:hover,
.btn-orange:focus,
.btn-orange.focus,
.btn-orange.active { background-color: #FF7F50; border-color: #FF7F50; color: #FFFFFF; }
.btn-orange.btn-anie-2 { background: transparent; color: #FF7F50 !important; border-color: #FF7F50; }
.orange .form-anie-2 { color: #ffffff; }

/* Orange 2 */
.orange-2, .orange-2-hover:hover, .orange-2-focus:focus { background-color: #FC6E51; color: #FFFFFF; }
.text-orange-2, .text-orange-2-hover:hover, .text-orange-2-focus:focus { color: #FC6E51 !important; }
.bord-orange-2, .bord-orange-2-hover:hover, .bord-orange-2-focus:focus { border-color: #FC6E51; }
.btn-orange-2, .btn-orange-2-hover:hover { background-color: #FC6E51; border-color: #FC6E51; color: #FFFFFF; }
.btn-orange-2 .badge { color: #FC6E51; background-color: #FFFFFF; }
.btn-orange-2:hover,
.btn-orange-2:focus,
.btn-orange-2.focus,
.btn-orange-2.active { background-color: #FC6E51; border-color: #FC6E51; color: #FFFFFF; }
.btn-orange-2.btn-anie-2 { background: transparent; color: #FC6E51 !important; border-color: #FC6E51; }
.orange-2 .form-anie-2 { color: #ffffff; }

/* Orange 3 */
.orange-3, .orange-3-hover:hover, .orange-3-focus:focus { background-color: #E9573F; color: #FFFFFF; }
.text-orange-3, .text-orange-3-hover:hover, .text-orange-3-focus:focus { color: #E9573F !important; }
.bord-orange-3, .bord-orange-3-hover:hover, .bord-orange-3-focus:focus { border-color: #E9573F; }
.btn-orange-3, .btn-orange-3-hover:hover { background-color: #E9573F; border-color: #E9573F; color: #FFFFFF; }
.btn-orange-3 .badge { color: #E9573F; background-color: #FFFFFF; }
.btn-orange-3:hover,
.btn-orange-3:focus,
.btn-orange-3.focus,
.btn-orange-3.active { background-color: #E9573F; border-color: #E9573F; color: #FFFFFF; }
.btn-orange-3.btn-anie-2 { background: transparent; color: #E9573F !important; border-color: #E9573F; }
.orange-3 .form-anie-2 { color: #ffffff; }

/* Red */
.red, .red-hover:hover, .red-focus:focus { background-color: #ff6b6b; color: #FFFFFF; }
.text-red, .text-red-hover:hover, .text-red-focus:focus { color: #ff6b6b !important; }
.bord-red, .bord-red-hover:hover, .bord-red-focus:focus { border-color: #ff6b6b; }
.btn-red, .btn-red-hover:hover { background-color: #ff6b6b; border-color: #ff6b6b; color: #FFFFFF; }
.btn-red .badge { color: #ff6b6b; background-color: #FFFFFF; }
.btn-red:hover,
.btn-red:focus,
.btn-red.focus,
.btn-red.active { background-color: #ff6b6b; border-color: #ff6b6b; color: #FFFFFF; }
.btn-red.btn-anie-2 { background: transparent; color: #ff6b6b !important; border-color: #ff6b6b; }
.red .form-anie-2 { color: #ffffff; }

/* Red 2 */
.red-2, .red-2-hover:hover, .red-2-focus:focus { background-color: #DA4453; color: #FFFFFF; }
.text-red-2, .text-red-2-hover:hover, .text-red-2-focus:focus { color: #DA4453 !important; }
.bord-red-2, .bord-red-2-hover:hover, .bord-red-2-focus:focus { border-color: #DA4453; }
.btn-red-2, .btn-red-2-hover:hover { background-color: #DA4453; border-color: #DA4453; color: #FFFFFF; }
.btn-red-2 .badge { color: #DA4453; background-color: #FFFFFF; }
.btn-red-2:hover,
.btn-red-2:focus,
.btn-red-2.focus,
.btn-red-2.active { background-color: #DA4453; border-color: #DA4453; color: #FFFFFF; }
.btn-red-2.btn-anie-2 { background: transparent; color: #DA4453 !important; border-color: #DA4453; }
.red-2 .form-anie-2 { color: #ffffff; }

/* Red 3 */
.red-3, .red-3-hover:hover, .red-3-focus:focus { background-color: #C0392B; color: #FFFFFF; }
.text-red-3, .text-red-3-hover:hover, .text-red-3-focus:focus { color: #C0392B !important; }
.bord-red-3, .bord-red-3-hover:hover, .bord-red-3-focus:focus { border-color: #C0392B; }
.btn-red-3, .btn-red-3-hover:hover { background-color: #C0392B; border-color: #C0392B; color: #FFFFFF; }
.btn-red-3 .badge { color: #C0392B; background-color: #FFFFFF; }
.btn-red-3:hover,
.btn-red-3:focus,
.btn-red-3.focus,
.btn-red-3.active { background-color: #C0392B; border-color: #C0392B; color: #FFFFFF; }
.btn-red-3.btn-anie-2 { background: transparent; color: #C0392B !important; border-color: #C0392B; }
.red-3 .form-anie-2 { color: #ffffff; }

/* Brown */
.brown, .brown-hover:hover, .brown-focus:focus { background-color: #CD853F; color: #FFFFFF; }
.text-brown, .text-brown-hover:hover, .text-brown-focus:focus { color: #CD853F !important; }
.bord-brown, .bord-brown-hover:hover, .bord-brown-focus:focus { border-color: #CD853F; }
.btn-brown, .btn-brown-hover:hover { background-color: #CD853F; border-color: #CD853F; color: #FFFFFF; }
.btn-brown .badge { color: #CD853F; background-color: #FFFFFF; }
.btn-brown:hover,
.btn-brown:focus,
.btn-brown.focus,
.btn-brown.active { background-color: #CD853F; border-color: #CD853F; color: #FFFFFF; }
.btn-brown.btn-anie-2 { background: transparent; color: #CD853F !important; border-color: #CD853F; }
.brown .form-anie-2 { color: #ffffff; }

/* Brown 2 */
.brown-2, .brown-2-hover:hover, .brown-2-focus:focus { background-color: #996633; color: #FFFFFF; }
.text-brown-2, .text-brown-2-hover:hover, .text-brown-2-focus:focus { color: #996633 !important; }
.bord-brown-2, .bord-brown-2-hover:hover, .bord-brown-2-focus:focus { border-color: #996633; }
.btn-brown-2, .btn-brown-2-hover:hover { background-color: #996633; border-color: #996633; color: #FFFFFF; }
.btn-brown-2 .badge { color: #996633; background-color: #FFFFFF; }
.btn-brown-2:hover,
.btn-brown-2:focus,
.btn-brown-2.focus,
.btn-brown-2.active { background-color: #996633; border-color: #996633; color: #FFFFFF; }
.btn-brown-2.btn-anie-2 { background: transparent; color: #996633 !important; border-color: #996633; }
.brown-2 .form-anie-2 { color: #ffffff; }

/* Brown 3 */
.brown-3, .brown-3-hover:hover, .brown-3-focus:focus { background-color: #663300; color: #FFFFFF; }
.text-brown-3, .text-brown-3-hover:hover, .text-brown-3-focus:focus { color: #663300 !important; }
.bord-brown-3, .bord-brown-3-hover:hover, .bord-brown-3-focus:focus { border-color: #663300; }
.btn-brown-3, .btn-brown-3-hover:hover { background-color: #663300; border-color: #663300; color: #FFFFFF; }
.btn-brown-3 .badge { color: #663300; background-color: #FFFFFF; }
.btn-brown-3:hover,
.btn-brown-3:focus,
.btn-brown-3.focus,
.btn-brown-3.active { background-color: #663300; border-color: #663300; color: #FFFFFF; }
.btn-brown-3.btn-anie-2 { background: transparent; color: #663300 !important; border-color: #663300; }
.brown-3 .form-anie-2 { color: #ffffff; }

.btn-success.btn-anie-2 { background: transparent; color: #4cae4c !important; }
.btn-info.btn-anie-2 { background: transparent; color: #46b8da !important; }
.btn-default.btn-anie-2 { background: transparent; color: #999999 !important; }
.btn-warning.btn-anie-2 { background: transparent; color: #eea236 !important; }
.btn-danger.btn-anie-2 { background: transparent; color: #d43f3a !important; }